<body>
    <h1>About Us<br> </h1>
    <h3> Our Mission: <h2>
        <p>&emsp;We make climate change fun <p>
    <h3> About the Company: <h3>
        <p> ForeverGreen Tech ... <p>
    <h3> About the Founders: <h3>
        <p> Founders... <p>
<body>
