body {
  height: 100%;
  margin: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #363536),
    color-stop(1, #000000)
  );
  background-image: -o-linear-gradient(bottom, #363536 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #363536 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #363536 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #363536 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #363536 0%, #000000 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  .button {
    text-decoration: none;
    border: 2px solid black;
    background: transparent;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-color: rgba(0, 255, 1, .4);
  }
  .glow-button:hover {
    background-color: rgba(0, 255, 1, .4);
    box-shadow: 0 5px 15px rgba(0, 255, 1, .4);
    font-weight: 700;
  }